<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/style.css">
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="logo">
                <img src="" alt="">
            </div>
            <div class="addTasks">
                <input type="text" v-model="newTask">
                <button>Add</button>
            </div>

            <div class="tasks" >
                <div class="item" v-for= "(task,index) in tasks">
                    <p>{{task}}</p>

                    <div class="delete-task">
                        <i class="fas fa-times-circle fa-lg fa-fw" @click= "removeTask(index)"></i>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./assets/app.js"></script>
</body>
</html>